$primaryColor: #8d001d;
$secondaryColor: #759488;
$accentColor: #e2dbbd;
$fontColor: #240008;
$whiteColor: #F8F6EF;

$defaultFont: "Noto Serif", serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 800;
$leading: 150%;

$gutter: 10px;