$primaryColor: #D1DBBD; 
$secondaryColor: #193441;
$accentColor: #3E606F;
$whiteColor: #FCFFF5;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;